/* Adjustments for the logo image*/

/* img {
    display: block;
    margin-top: 1.5em;
  } */

/* Row 1 */
/* div.css-1ht1j8u.e16fv1kl3 {
    background-color: #EEEEEE;
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
} */

                                                                                                                                                                             
  div.css-1rh8hwn.e16fv1kl2 {
    /* background-color: #EEEEEE; */
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
    text-align: center;
    /* font-size: 20px; */
}
